footer .cloud:first-child {
    animation: cloudLeft 1s ease-in-out;
}

footer .cloud:nth-child(2) {
    animation: cloudRight .75s ease-in-out;
}

footer .cloud:nth-child(3) {
    animation: cloudLeft .5s ease-in-out;
}

footer .element {
    left: calc((100% - 390px)/2);
}

footer .orbit-1::before {
    content: '';
    width: 360px;
    height: 360px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: calc((100% - 360px)/2);
    transform: translateY(50%);
}

footer .orbit-2::before {
    content: '';
    width: 275px;
    height: 275px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: calc((100% - 275px)/2);
    transform: translateY(50%);
}

footer .orbit-3::before {
    content: '';
    width: 200px;
    height: 200px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: calc((100% - 200px)/2);
    transform: translateY(50%);
}

@keyframes cloudLeft {
    from {
        transform: translateX(-500px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes cloudRight {
    from {
        transform: translateX(500px);
    }
    to {
        transform: translateX(0);
    }
}