---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Presentación de Robert Iskandarani para Taglit" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&family=Rubik+Mono+One&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--bg-cloudy: #667AC8;
		--bg-sun: #4369FF;
		--bg-moon: #040035;
		--bg-planets: #04001C;
	}

	html {
		font-family: 'Rubik Mono One', sans-serif;
		background-color: black;
		color: white;
	}

	.rubik-mono-one-regular {
		font-family: "Rubik Mono One", monospace;
		font-weight: 400;
		font-style: normal;
	}

	.rubik-doodle-shadow-regular {
	font-family: "Rubik Doodle Shadow", system-ui;
	font-weight: 400;
	font-style: normal;
	}
</style>
